@import "leaflet";
@import "leaflet.draw";
@import "bootstrap-generators";

.navbar {
  .brand {
    padding: 60px 20px 20px;
  }

  .nav.pull-right {
    li {
      text-transform: uppercase;
    }

    a {
      padding: 60px 15px 20px;
    }
  }
}

.static {
  #map {
    position: fixed;
    top: $navbarHeight;
    right: 360px;
    bottom: 150px;
    left: 0;
  }

  #sidebar {
    overflow: auto;

    position: fixed;
    top: $navbarHeight;
    right: 0;
    bottom: 150px;
    width: 360px;

    &.shadow {
      background: image-url('shadow.png') no-repeat center -50px;
    }

    h5 {
      text-transform: uppercase;
      text-align: center;
    }

    #area-control {
      text-align: right;
    }

    #area-stats {
      background: #fff;
      color: #333;
      padding: 10px;

      .total {
        height: 50px;
        font-size: 1.8em;
        font-weight: bold;
        padding: 15px;
        box-sizing: border-box;
      }

      .stats {
        ul {
          margin: 10px 0 15px 0;

          li {
            list-style-type: none;
            font-weight: bold;
            color: #323232;
            border-bottom: 2px solid #24323E;
            padding-bottom: 5px;
            margin-bottom: 20px;

            .count {
              line-height: 9px;
            }
          }
        }
      }

      .count {
        float: right;
        font-weight: normal;

        .type {
          text-transform: uppercase;
        }

        .type, .unit {
          font-weight: bold;
          font-size: 0.8em;
        }

        .value {
          font-weight: normal;
          font-size: 2em;
        }
      }
    }

    .footer {
      text-align: center;
      height: 30px;
      padding: 25px;
    }

    #draw-a-polygon {
      &:before {
        content: '';
        background: image-url('draw_a_polygon.png') no-repeat center center;
        display: block;
        height: 116px;
        width: 100%;
      }

      .btn {
        width: 100%;
      }
    }

    #draw-another-polygon {
      .control-group {
        text-align: center;
        margin: 25px;
      }
    }

    .btn-group {
      width: 100%;

      & > .btn {
        width: 33.333333333%;
        font-size: 12px;
      }
    }
    
    .width-100-percent {
      width: 100%;
    }
  }

  footer .navbar-inner {
    min-height: 150px;
    
    p {
      padding-top: 10px;
      font-weight: bold;
      color: $white;
    }
  }
}

.btn {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
}

.table {
  color: #555;
}

.leaflet-control-layers-expanded .leaflet-control-layers-list {
  margin-bottom: 0;
  
  input {
    margin-top: 0;
  }
}

::selection {
	background: #384658; /* Safari */
}

::-moz-selection {
	background: #384658; /* Firefox */
}
